a {
	color: black;
	text-decoration: none;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

h1 {
	margin-bottom: 20px;
}

@media (max-width: 767px) {
    .desktop-display {
        display: none;
    }
}

@media (min-width: 768px) {
    .mobile-display {
        display: none;
    }
}

span {
	white-space: pre-wrap;
}

.active>h4 {
	font-weight: bold;
}

.active>a {
	font-weight: bold;
}

.app-heading {
	margin-bottom: 30px;
}

.border-bottom {
	border-bottom: 1px solid #999;
}

.bottom-left {
	border-bottom-left-radius: 4px; 
}

.buttons-small {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	height: 28px;
}

.full-name {
	margin-top: 0px;
}

.image-wrapper {
	display: inline-block;
	width: 110px; 
    height: 110px; 
    overflow: hidden; 
	float: left;
	margin: 0px 10px 5px 0px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px #CCC;
	position: relative;
}
.image-wrapper img {
	position: absolute; 
	width: 100%;
	clip: rect(0px,100px,100px,0px);
}

.individual.active {
	border-right: none !important;
}	

.nav-pills {
	border-right: 1px solid #999;
}

.nav-pills.active {
	border-right: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: black;
	background-color: white;
}

.navbar {
	border: 1px 0px 1px 1px;
	border-right-width: 0px;
	border-style: solid;
	border-color: #999;
	background-color: #f3f3f3;
	border-radius: 4px 0px 0px 4px;
	padding-left: 0px;
	padding-right: 0px;
}

.no-border-bottom {
	border-bottom: 0px;
}

.no-border-right {
	border-right: 0px;
}

.no-border-top {
	border-top: none;
}

.no-margin-top {
	margin-top: 0px !important
}

.no-padding {
	padding: 0px;
}

.no-padding-left {
	padding-left: 0px;
}

.no-padding-right {
	padding-right: 0px;
}

.panel-default {
    border-color: #999;
}

.panel-group .panel {
	border-radius: 0px;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: none;
}

.panel-heading.active {
	background-color: white !important;
	border-top: none !important;
}

.panel-title {
	font-size: 100%;
}

.top {
	border-top: 1px solid #999;
}

.top-left {
	border-top-left-radius: 4px;
}